<!DOCTYPE html>
<html>
<head>
    <title>Soma</title>
</head>
<body>
    <h1><%= titulo %></h1>;

    <form method="POST"action="/soma">
        <input name="a" type="text"/>

        <input name="b" type="text"/>

        <button type="submit">Enviar</button>
    </form>   
    <p><%= Resultado %></p>
</body>
</html>